*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
span{
    color: crimson;
}
a{
    color: black;
}
img{
    height:80px ;
    width: 80px;
    object-fit: cover;
}
 p{
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
.section_tittle{
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section_tittle span{
color: crimson;
}
html{
    font-size: 10px; 
    font-family: 'Montserrat',sans-serif;
}
a{
    text-decoration: none;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    padding-left: 15px;
}
.brand h1 span{
    color: crimson;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
#header .header{
    /* width: 100%; */
    min-height: 8vh;
    background-color:transparent;
    transition: .3s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav_list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31,30,30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    transition: .8s ease left;
}
#header .nav_list ul.active{
    left: 0%;
}
#header .nav_list ul a{
         font-size: 2.5rem;
         font-weight: 500;
         letter-spacing: .2rem;
         text-decoration: none;
         color: white;
         text-transform: uppercase;
         padding: 20px;
         display: block;
}
#header .nav_list ul a::after{
    content: attr(data_after);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)scale(0);
    color: rgba(240, 240, 255,0.021);
    z-index: -1;
    font-size: 9rem;
    letter-spacing: 50px;
    transition: .3s ease  letter-spacing;
}
#header .nav_list ul li:hover a::after{
    transform: translate(-50%,-50%)scale(1);
    letter-spacing:initial;
}
#header .nav_list ul li:hover a{
    color: crimson;
    border-bottom:1px solid green ;
    transition: 1s;
    animation: .5s ease forwards ;
}
#header .hum{
    z-index: 100;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    margin-right:20px ;
}
#header .hum::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hum_ball 1s ease infinite;
}
#header .hum .bar{
height: 2px;
width: 30px;
position: relative;
background-color: white;
z-index: -1;
}
#header .hum .bar::after,#header .hum .bar::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    transition: .3s ease;
    transition-property: top,bottom;
    background-color: white;
}
#header .hum .bar::after{
    top:8px;
}
#header .hum .bar::before{
    bottom:8px;
}
#header .hum.active .bar::before{
    bottom:0px;
}
#header .hum.active .bar::after{
    top:0px;
}
#h{
    background:url(../IMG/cms.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#h h1:nth-child(1){
    animation-delay: 1s;
}
#h h1:nth-child(2){
    animation-delay: 2s;
}
#h h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#h h1 span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: crimson;
    animation:text_reveal_box 1s ease;
    animation-delay: 1s;
}
#h h1:nth-child(1) span{
    animation-delay: .5s;
}
#h h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#h h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#h::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(51, 44, 44);
    opacity: 0.7;
    z-index: -1;
}
#h .h{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#h h1{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#h .cta{
 display: inline-block;
 padding: 10px 30px;
 color: white;
 background-color: transparent;
 border: 2px solid crimson;
 font-size: 2rem;
 text-transform: uppercase;
 letter-spacing: .1rem;
 margin-top: 30px;
 transition: -3s ease;
 transition-property: backgroud-color,color;   
}
#h .cta:hover{
color: white;
background-color: crimson;
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
       color: white;
    }
}
@keyframes text_reveal_name{
    100%{
       color: rgb(8, 240, 209);
       font-weight: 500;
    }
}
@keyframes hum_ball{
    0%{
       opacity: 1;
       transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.9);
     }
}
/* header parts */
@media only screen and (min-width:1200px){
    #header .hum{
        display: none;
    }
    #header .nav_list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
       background-color: transparent;
    }
    #header .nav_list  ul li{
        display: inline-block;
    }
    #header .nav_list  ul li a{
        font-size: 1.8rem;
    }
    #header .nav_list  ul li  a::after{
        display: none;
    }

}
/* start of the services section */
#services .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .top p{
    color: black;
font-size: 1.4rem;
margin-top: 5px;
line-height: 2.5rem;
font-weight: 500;
letter-spacing: .05rem;
}
#services .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#services .item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(/IMG/service.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .item::after{
    content: '';
    position: absolute;
    left: 0;
    top:0 ;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);
    opacity: .8;
    z-index: -1;
}
#services .bottom .icon{
    height:80px ;
    width: 80px;
    margin-bottom: 20px;
}
#services .item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .item p{
       color: white;
}
/*contact section*/
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact_items{
    width: 400px;
}
#contact .contact_item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact_item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;   
}
#contact .icon{
    width:70px ;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact_info h1{
font-size: 2.5rem;
font-weight: 500;
margin-bottom: 5px;

}
#contact .contact_info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    
}
#contact .contact{
flex-direction: column;
padding: 100px 0;
align-items: center;
justify-content: center;
min-width: 20vh;
}
#contact .contact_items{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
}
#contact .contact_item{
   margin: 20px;
   flex-direction: row;
}
#contact .contact_item .icon{
    height: 100px;
    width: 100px;
}
#contact .contact_item .icon img{
    object-fit: contain;
}
#contact .contact_item .contact_info{
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
#services .bottom .item{
flex-basis: 45%;
margin: 2.5%;
}
#footer{
    background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
 #footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-left: 10px;
} 

#footer .social_icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social_item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer .social_item:hover img{
    filter: grayscale(0);
}
#footer .social_item img{
     filter: grayscale(1);
     transition: .3s ease filter;
}
#footer p{
    color: white;
    font-size: 1.3rem;
} 
@media only screen and (min-width:760px){
      .cta{
          font-size: 2.5rem;
          padding: 20px 60px;
      }
      .section_tittle{
          font-size: 5rem;
      }
      #h h1{
          font-size: 5rem;
      }
      #services .bottom .item{
          flex-basis: 45%;
          margin: 2.5%;
      }
     .contact{
          flex-direction: column;
          padding: 100px 0;
          align-items: center;
          justify-content: center;
          min-width: 20vh;
      }
      #contact .contact_items{
          width: 100%;
          display: flex;
          flex-direction: row;
          padding: 20px;
          margin: 0;
      }
      #contact .contact_item{
         margin: 20px;
         flex-direction: row;
      }
      #contact .contact_item .icon{
          height: 100px;
          width: 100px;
      }
      #contact .contact_item .icon img{
          object-fit: contain;
      }
      #contact .contact_item .contact_info{
          width: 100%;
          text-align: left;
          padding-left: 20px;
      }     
}
#login_page .login_form{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
