<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginControler</servlet-name>
        <servlet-class>Controler.loginControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllEmployeeWork</servlet-name>
        <servlet-class>Controler.AllEmployeeWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order_Controler</servlet-name>
        <servlet-class>Controler.Order_Controler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order_Controler1</servlet-name>
        <servlet-class>Controler.Order_Controler1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControler1</servlet-name>
        <servlet-class>Controler.OrderControler1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>Controler.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControler</servlet-name>
        <servlet-class>Controler.OrderControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllMessageOpation</servlet-name>
        <servlet-class>Controler.AllMessageOpation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDAdminWork</servlet-name>
        <servlet-class>Controler.AllDAdminWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllManageEmployee</servlet-name>
        <servlet-class>Controler.AllManageEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllManageAssistance</servlet-name>
        <servlet-class>Controler.AllManageAssistance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checking</servlet-name>
        <servlet-class>Controler.checking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllMessageOperation</servlet-name>
        <servlet-class>Controler.AllMessageOperation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllOrderAdmin_Works</servlet-name>
        <servlet-class>Controler.AllOrderAdmin_Works</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checking1</servlet-name>
        <servlet-class>Controler.checking1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Douwnload</servlet-name>
        <servlet-class>Controler.Douwnload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDAdminWork2</servlet-name>
        <servlet-class>Controler.AllDAdminWork2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Downloade</servlet-name>
        <servlet-class>Controler.Downloade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginControler</servlet-name>
        <url-pattern>/loginControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllEmployeeWork</servlet-name>
        <url-pattern>/AllEmployeeWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order_Controler</servlet-name>
        <url-pattern>/Order_Controler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order_Controler1</servlet-name>
        <url-pattern>/Order_Controler1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControler1</servlet-name>
        <url-pattern>/OrderControler1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControler</servlet-name>
        <url-pattern>/OrderControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllMessageOpation</servlet-name>
        <url-pattern>/AllMessageOpation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDAdminWork</servlet-name>
        <url-pattern>/AllDAdminWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllManageEmployee</servlet-name>
        <url-pattern>/AllManageEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllManageAssistance</servlet-name>
        <url-pattern>/AllManageAssistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checking</servlet-name>
        <url-pattern>/checking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllMessageOperation</servlet-name>
        <url-pattern>/AllMessageOperation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllOrderAdmin_Works</servlet-name>
        <url-pattern>/AllOrderAdmin_Works</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checking1</servlet-name>
        <url-pattern>/checking1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Douwnload</servlet-name>
        <url-pattern>/Douwnload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDAdminWork2</servlet-name>
        <url-pattern>/AllDAdminWork2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Downloade</servlet-name>
        <url-pattern>/Downloade</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
